<%= render :partial => 'spree/admin/shared/stock_sub_menu' %>

<div id="new_stock"  data-hook="toolbar">
  <%= button_link_to t(:new_stock), admin_new_stock_path, { :id => 'new_stock_link', :icon => 'add', :remote => true } %>
</div>
<br />
<br />

<div id="accordion" class="index">
  <% @products.each_with_index do |product, product_i| %>
    <h4 id="<%= product.id %>_label"><%= product.name %></h4>
    <div id="<%= product.id %>_content"><%= render :partial => 'variants', :locals => { :product => product, :product_i => product_i } %></div>
  <% end %>
</div>

<%= paginate @products %>

<%= render :partial => 'sidebar' %>

<%= javascript_include_tag "admin/stock.js" %>