<div>
  <%= f.field_container :name do %>
    <%= f.label :name, t("warehouse.name") %><span class="required">*</span><br />
    <%= error_message_on :warehouse, :name %>
    <%= f.text_field :name %>
  <% end %>

  <%= f.field_container :code do %>
    <%= f.label :location, t("warehouse.code") %><br />
    <%= error_message_on :warehouse, :code %>
    <%= f.text_field :code %>
  <% end %>

  <%= f.field_container :location do %>
    <%= f.label :location, t("warehouse.location") %><br />
    <%= f.text_area :location %>
  <% end %>

  <%= f.field_container :details do %>
    <%= f.label :details, t("warehouse.details") %><br />
    <%= f.text_area :details %>
  <% end %>      
</div>